h1, h2 {
  text-align: center;
}

.content {
  text-align: center;
}

html, body, div {
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

#map-page {
  width: 70%;
  height: 70%;
  margin: 5;
  padding: 3;
}
