h1, h2 {
  text-align: center;
}

.content {
  text-align: center;
}

html, body, div {
  padding: 0;
  height: 100%;
  width: 100%;
}

#map-page {
  width: 80%;
  height: 80%;
  margin-right: 5%;
  padding-left: 3%;
}
